html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  position: relative;
  min-height: 100%;
}

ol, ul, li, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 984px;
  height: 100%;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}


/* Header==
============================== */

.header {
  height: 230px;
  background-color: #dcdcdc;
}

.header__logo {
  float: left;
  margin-top: 65px;
}

.header__logo-img {
  width: 100px;
  height: 100px;
  background-color: #777;
  margin-right: 0;
  float: left;
}

.header__logo_text {
  float: right;
  color: #777;
}

.header__logo-name {
  font-size: 32px;
  font-weight: bold;
  line-height: 0.8;
  margin: 8px 0 0 14px;
}

.header__tagline {
  margin: 12px 0 0 11px;
}

.header__communications {
  float: right;
  margin-top: 31px;
  margin-right: 5px;
  color: #767676;
}

.header__tel {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  margin-bottom: -9px;
}

.header__feedback {
  text-align: right;
  margin-top: 6px;
}

.header__feedback-link {
  font-weight: bold;
  font-size: 24px;
  color: #767676;
  border-bottom: 2px dashed #767676;
}

.header__feedback-link:hover {
  border-color: #a7a3a3;
  color: #a7a3a3;
}

/* Footer==
============================== */
.footer {
  width: 100%;
  height: 220px;
  font-size: 14px;
  background-color: #777;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.footer__copyright {
  float: left;
  margin: 45px 0 0 3px;
}

.footer__copyright-link {
  padding-bottom: 4px;
  color: #fff;
}

.footer__copyright-link:hover:last-child {
  color: #a7a3a3;
}

.footer__nav {
  float: left;
  margin: 45px 0 0 163px;
}

.footer__nav-item {
  margin-bottom: 8px;
}

.footer__nav-link {
  color: #fff;
  border-bottom: 2px solid #bababa;
}

.footer__nav-link:hover {
  color: #a7a3a3;
}

.footer__developer {
  background: url("../img/footer-img.png") no-repeat;
  line-height: 1.5;
  padding-left: 45px;
  float: right;
  color: #fff;
  margin: 47px 21px 0 0;
}

.footer__developer-link {
  color: #fff;
  border-bottom: 2px solid #bababa;
}

.footer__developer-link:hover {
  color: #a7a3a3;
}

/* Menu==
============================== */
.menu {
  height: 80px;
  background-color: #777;
  text-align: center;
  font-size: 0;
  padding-top: 27px;
  box-sizing: border-box;
}

.menu__item {
  height: 25px;
  border-right: 2px solid #fff;
  display: inline-block;
  padding: 0 24px 0 18px;
  position: relative;
}

.menu__item:last-child {
  border-right: none;
}

.menu__link {
  color: #fff;
  font-size: 30px;
  line-height: 25px;
}

.menu__link:hover {
  text-decoration: underline;
}

/* Banner===
==============================*/
.banner {
  height: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
}

.slider__left,
.slider__right {
  width: 34px;
  height: 61px;
}

.slider__left {
  background: url("../img/slider-left.png") no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -494px;
  transform: translate(0, -50%);
  transition: all .2s;
}

.slider__right {
  background: url("../img/slider-right.png") no-repeat;
  position: absolute;
  right: 50%;
  top: 50%;
  margin-right: -494px;
  transform: translate(0, -50%);
  transition: all .2s;
}

.slider__left:hover {
  background: url("../img/slider-left-hover.jpg");
  border-radius: 4px;
}

.slider__right:hover {
  background: url("../img/slider-right-hover.jpg");
  border-radius: 4px;
}

/* Main===
=============================*/
.main {
  padding-bottom: 417px;
}

.main__menu {
  width: 100%;
  height: 50px;
  padding-top: 5px;
}

.main__link,
.main__link_active {
  color: #767676;
  font-size: 14px;
}

.main__link {
  text-decoration: underline;
  padding-right: 18px;
  position: relative;
}

.main__link:hover {
  color: #a7a3a3;
}

.main__link:after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #767676;
  transform: rotate(23deg);
  position: absolute;
  top: 4px;
  right: 6px;
}

/* Sidebar===
==============================*/
.sidebar {
  float: left;
  margin-top: -13px;
  width: 200px;
}

.side-menu {
  padding: 5px 0;
}

.side-menu_padding-bottom {
  padding-bottom: 97px;
}

.side-menu__submenu {
  padding-left: 20px;
}

.side-menu__submenu-item {
  padding: 1px 0;
  position: relative;
  list-style: none;
}

.side-menu__submenu-item:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #767676;
  position: absolute;
  top: 12px;
  left: -11px;
}

.side-menu__item:hover {
  color: #a7a3a3;
}

.side-menu__item_active {
  text-decoration: underline;
}

.side-menu__item,
.side-menu__item_active {
  font-size: 18px;
  color: #767676;
}

.side-menu__submenu-link {
  font-size: 14px;
  text-decoration: none;
  color: #767676;
}

.side-menu__submenu-link:hover {
  color: #a7a3a3;
}

.side-menu__submenu-link_active {
  font-size: 14px;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #767676;
}

/* Content===
============================*/
.content {
  width: 784px;
  float: right;
}

.content_margin-left {
  margin-left: -15px;
}

/* Content__goods */
.content__goods {
  float: left;
  height: 380px;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #dcdcdc;
  margin: 0 0 15px 15px;
}

.content__goods-img {
  width: 210px;
  height: 209px;
  background-size: cover;
  background-position: center;
}

.content__goods-text {
  margin-top: 15px;
  font-size: 18px;
  color: #767676;
  line-height: 1;
}

.content__goods-block {
  margin-top: 47px;
}

.content__goods-price {
  float: left;
  font-size: 28px;
  font-weight: bold;
  color: #444;
}

.content__goods-basket {
  float: right;
  width: 28px;
  height: 21px;
  margin: 11px 16px 0 0;
  background: url("../img/basket.png") no-repeat;
}

/* Paginator */
.paginator {
  text-align: center;
  font-size: 14px;
  margin-top: 17px;
}

.paginator__link {
  color: #8d8d8d;
}

.paginator__link:hover {
  color: #3f3d3d;
}

.paginator__link,
.paginator__link_active {
  padding: 0 8px;
}

.paginator__link_active {
  font-size: 19px;
  color: #000;
}

/* Company-news */
.content__company-news {
  font-size: 14px;
  color: #767676;
  border-top: 1px solid #767676;
  margin-top: 62px;
  padding-top: 26px;
  line-height: 1.6;
}

.content__company-news-text {
  float: left;
  width: 370px;
}

.content__company-news-text {
  float: left;
  margin-left: 40px;
  width: 370px;
}

.content__company-news-text:first-child {
  margin-left: 0;
}

/* Price */
.price {
  float: left;
  margin-left: 17px;
}

.price__img {
  width: 97px;
  height: 111px;
  margin-left: 26px;

}

.price__text {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #444;
}

.price__text:hover {
  color: #a7a3a3;
}



.feedback-checkbox {
  display: none;
}

.dialog-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
}

.feedback-checkbox:checked + .dialog-overlay {
  display: block;
}

/* Form */
.dialog {
  height: 579px;
  width: 468px;
  font-family: 'PT Sans', sans-serif;
  padding: 27px 63px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #c3c3c3;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__header {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin-right: 10px;
}

.form__input {
  display: block;
  width: 340px;
  height: 41px;
  color: #535353;
  margin-top: 7px;
  padding: 0 14px;
  box-sizing: border-box;
}

.form__input_email {
  border: 1px solid #fe8385;
  box-shadow: 0 0 9px 7px #fae8e8 inset;
}

.form__input:focus {
  background-color: #fff;
  box-shadow: none;
}

.form__input_email::-webkit-input-placeholder {
  color: #d06f78;
}

.form__text {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #535353;
  line-height: 1;
}

.form__text_name {
  margin-top: 26px;
}

.form__text_tel {
  margin-top: 17px;
}

.form__text_email {
  margin-top: 19px;
}

.form__text_textarea {
  margin-top: 20px;
}

.form__textarea {
  width: 336px;
  height: 136px;
  resize: none;
  margin-top: 6px;
}

.form__btn {
  width: 128px;
  height: 42px;
  background-color: #777;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 17px;
  border: 0;
  cursor: pointer;
}

.form__btn:hover {
  opacity: .8;
}

.close-button {
  display: block;
  width: 27px;
  height: 27px;
  background-color: #777;
  position: absolute;
  top: -27px;
  right: -27px;
}

.close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.close-button:before,
.close-button:after {
  content: "";
  position: absolute;
  height: 16px;
  width: 1px;
  background-color: #fff;
  top: 6px;
  right: 12px;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}
